<a href="https://colab.research.google.com/github/VarunNangalia/Greyatom-Course/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
nums = [800678,800456]

In [0]:
nums

[800678, 800456]

In [0]:
import pandas as pd
import numpy as np
nums = [800678,800456]
names = ['Richie','Mark']

series_1 = pd.Series([nums,names]) # creating a basic panda dataframe
series_2 = pd.Series(nums,index = names)# creating a panda dataframe with one data series as index
print(series_1)

0    [800678, 800456]
1      [Richie, Mark]
dtype: object

In [0]:
import pandas as pd
a = pd.Series(data = [1,2,3,4],index = [0,1,2,3])
b = pd.Series(data = [1,2,3,4],index = [0,1,3,4])
c = pd.Series(data = a+b)
print(c)

0    2.0
1    4.0
2    NaN
3    7.0
4    NaN
dtype: float64

In [0]:
import pandas as pd
a = pd.Series(data = [1,2,3,4],index = [0,1,2,3])
b = pd.Series(data = [1,2,3,4],index = [0,1,3,4])
c = pd.Series(data = a+b)
print(c)
c.fillna(0,inplace = True)
print(c)

0    2.0
1    4.0
2    NaN
3    7.0
4    NaN
dtype: float64
0    2.0
1    4.0
2    0.0
3    7.0
4    0.0
dtype: float64

In [0]:
import pandas as pd
pincodes = [800678,800456]
numbers = [2567890,2567657]
labels =["R","M"]
names = ["Richie","Mark"]
first = pd.DataFrame(data =(numbers,pincodes), index = labels )
first

         0        1
R  2567890  2567657
M   800678   800456

In [0]:
import pandas as pd
pincodes = [800678,800456]
numbers = [2567890,2567657]
labels =["R","M"]
names = ["Richie","Mark"]
first = pd.DataFrame(data =[numbers,pincodes], index = labels )
print(first)

         0        1
R  2567890  2567657
M   800678   800456

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
df = pd.read_csv("WorldHappiness2018_Data.csv")

In [0]:
df.head()

   Rank      Country  Score  ...  Generosity  Perceptions_Of_Corruption  Residual
0     1      Finland  7.632  ...       0.192                      0.393     2.988
1     2       Norway  7.594  ...       0.286                      0.340     2.723
2     3      Denmark  7.555  ...       0.284                      0.408     2.779
3     4      Iceland  7.495  ...       0.353                      0.138     2.564
4     5  Switzerland  7.487  ...       0.256                      0.357     2.675

[5 rows x 10 columns]

In [0]:
data_1 = df['Rank'].isnull().sum()

In [0]:
data_1

0

In [0]:
df.groupby